
<mat-toolbar color="primary" class="app-toolbar">
  <div class="logo-section">
    <img src="assets/pexels_logo.png" alt="Pexels Logo" class="pexels-logo" />
    <span class="app-title">Pexels</span>
  </div>

  <span class="spacer"></span>

  <div class="nav-links-section">
    <a mat-button routerLink="/todos" *ngIf="hardcodeAuthenticationService.isUserLoggedIn()">
      Discover Photos
    </a>

    <a mat-button>Licence</a>

    <div class="dropdown-wrapper">
      <button mat-button [matMenuTriggerFor]="exploreMenu">
        Explore
        <mat-icon class="dropdown-icon">expand_more</mat-icon>
      </button>
      <mat-menu #exploreMenu="matMenu">
        <a mat-menu-item >Discover Photos</a>
        <a mat-menu-item>Popular Searches</a>
        <a mat-menu-item>Leaderboard</a>
        <a mat-menu-item>Challenges</a>
        <a mat-menu-item>Free Videos</a>
        <a mat-menu-item>Pexels Blog</a>
      </mat-menu>
    </div>
  </div>

  <span class="spacer"></span> <div class="auth-buttons-section">
  <button mat-flat-button color="accent" type="button">Join</button>
  <button mat-raised-button color="primary" *ngIf="!hardcodeAuthenticationService.isUserLoggedIn()" type="button">Login</button>
  <button mat-button *ngIf="hardcodeAuthenticationService.isUserLoggedIn()" routerLink="/logout" type="button">Logout</button>
</div>
</mat-toolbar>
