
<div class="auth-wrapper">
  <mat-card class="auth-card register-card">
    <mat-card-header>
      <mat-card-title class="auth-title">Đăng ký tài khoản mới</mat-card-title>
    </mat-card-header>

    <form [formGroup]="registerForm" (ngSubmit)="onRegister()">

      <mat-form-field appearance="outline">
        <mat-label>Họ và tên</mat-label>
        <input matInput type="text" formControlName="name" />
        <mat-error *ngIf="f['name'].touched && f['name'].invalid">
          <span *ngIf="f['name'].errors?.['required']">Họ và tên là bắt buộc.</span>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput type="email" formControlName="email" />
        <mat-error *ngIf="f['email'].touched && f['email'].invalid">
          <span *ngIf="f['email'].errors?.['required']">Email là bắt buộc.</span>
          <span *ngIf="f['email'].errors?.['email']">Email không hợp lệ.</span>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Số điện thoại</mat-label>
        <input matInput type="text" formControlName="phoneNumber" />
        <mat-error *ngIf="f['phoneNumber'].touched && f['phoneNumber'].invalid">
          <span *ngIf="f['phoneNumber'].errors?.['required']">Số điện thoại là bắt buộc.</span>
          <span *ngIf="f['phoneNumber'].errors?.['pattern']">Số điện thoại không hợp lệ (10 chữ số).</span>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Mật khẩu</mat-label>
        <input matInput type="password" formControlName="password" />
        <mat-error *ngIf="f['password'].touched && f['password'].invalid">
          <span *ngIf="f['password'].errors?.['required']">Mật khẩu là bắt buộc.</span>
          <span *ngIf="f['password'].errors?.['minlength']">Mật khẩu phải có ít nhất 6 ký tự.</span>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Xác nhận mật khẩu</mat-label>
        <input matInput type="password" formControlName="confirmPassword" />
        <mat-error *ngIf="f['confirmPassword'].touched && f['confirmPassword'].invalid">
          <span *ngIf="f['confirmPassword'].errors?.['required']">Xác nhận mật khẩu là bắt buộc.</span>
        </mat-error>
        <mat-error *ngIf="registerForm.errors?.['mismatch'] && f['confirmPassword'].touched">
          Mật khẩu xác nhận không khớp.
        </mat-error>
      </mat-form-field>

      <button mat-raised-button color="primary" type="submit">
        Đăng ký <mat-icon>arrow_forward</mat-icon>
      </button>
    </form>

<!--    <p *ngIf="successMessage" class="success-message">{{ successMessage }}</p>-->
<!--    <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>-->

    <p class="auth-footer">
      Đã có tài khoản? <a [routerLink]="['/login']">Đăng nhập</a>
    </p>
  </mat-card>
</div>
