<mat-toolbar color="primary" class="app-toolbar">
  <div class="logo-section">
    <img src="assets/pexels_logo.png"  class="pexels-logo" />
  </div>

  <span class="spacer"></span>

  <div class="nav-links-section">
    <a mat-button routerLink="/home">Home</a>
    <a mat-button routerLink="/daily-podcast">Daily Podcast</a>
    <a mat-button routerLink="/expert-interviews">Expert Interviews</a>
    <a mat-button routerLink="/brian-ford">Brian Ford</a>

    <div class="dropdown-wrapper">
      <button mat-button [matMenuTriggerFor]="exploreMenu">
        Explore
        <mat-icon class="dropdown-icon">expand_more</mat-icon>
      </button>
      <mat-menu #exploreMenu="matMenu">
        <a mat-menu-item routerLink="/todos" *ngIf="authService.isUserLoggedIn()">Discover Photos</a>
        <a mat-menu-item>Popular Searches</a>
        <a mat-menu-item>Leaderboard</a>
        <a mat-menu-item>Challenges</a>
        <a mat-menu-item>Free Videos</a>
        <a mat-menu-item>Pexels Blog</a>
      </mat-menu>
    </div>
  </div>

  <span class="spacer"></span>

  <div class="auth-buttons-section">
    <button mat-flat-button color="accent" type="button" routerLink="/change-your-life">Change Your Life</button>
    <button mat-button type="button">Join</button>
    <button mat-button *ngIf="!authService.isUserLoggedIn()" type="button" routerLink="/login">Login</button>
    <button mat-button *ngIf="authService.isUserLoggedIn()" (click)="logout()" type="button">Logout</button>
  </div>
</mat-toolbar>
